.footer {
	display: grid;
	grid-auto-columns: 1fr 1fr;
	column-gap: 1rem;

	padding-inline: var(--full-width-padding-inline);

	background-color: var(--color-gray-93);

	.writings,
	.visuals {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		align-items: center;
		justify-items: center;

		padding-block: 2rem;
	}

	.writings {
		grid-column: 1 / 2;
	}

	.visuals {
		grid-column: 2 / 3;

		.certificates,
		.socials {
			display: flex;
			align-items: center;
			gap: 2rem;
		}
	}

	.rights {
		display: flex;
		justify-content: center;
		grid-column: 1 / 3;

		padding-block: 0.5rem;
	}
}
